* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.site-title {
  background-color:  #f5f5f5;
  padding: 0vh 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-title-link{
  color: black;
  text-decoration: none;
}

.nav {
  width: 100vw;
  font-size: 18px;
  background-color: #1BB4D3;
  border: 2px solid #1BB4D3;
  box-shadow: 2px 0 4px;
  padding: 0vh 8vw;
  display: flex;
  flex-wrap: wrap;
}

.post-user-img-header {
  width: 75px;
  height: 75px;
  border: 3px solid #fff;
  margin-top: -6px;
  margin-bottom: -6px;
  border-radius: 50%;
}

.lists-right {
  margin-left: 60vw;
  display: flex;
  align-items: flex-end;
  list-style: none;
}


.new-post {
  color: #fff;
  font-weight: bold;
  margin-right: 3vw;
  text-decoration: none;
}


.logout {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.login {
  color: #fff;
  margin-right: 3vw;
  text-decoration: none;
}

.sign-up {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}