/* メッセージ画面全体 */
.chat-wrapper{
  min-width: 500px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* /メッセージ画面全体 */

/* メッセージヘッダー部分 */
.chat-header{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-back{
  width: 55px;
  height: 55px;
  font-size: 35px;
  background-color: #1bb4d3;
  margin-left: 100px;
  border-radius: 50%;
}

.chat-back-main{
  color: #fff;
  margin-left: 15px;
  padding-bottom: 10px;
  font-weight: bold;
  text-decoration: none;
}
.chat-header-user-info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.chat-user-avatar{
  margin-bottom: 10px;
}

.chat-header-avatar{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.chat-user-name{
  font-size: 20px;
}

.chat-delete{
  height: 30%;
  background-color: #1BB4D3;
  margin-right: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.chat-delete-main{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
/* /メッセージヘッダー部分 */

/* メッセージメイン画面 */
.chat{
  background-color: #fff;
}

.chat-body{
  width: 70vw;
  height: calc(100vh - 150px - 100px);
  min-width: 450px;
  background-color: #fff;
  padding: 10vh 15vw;
  overflow: scroll;
}

.chat-message{
  margin: 10px 0 0 0;
}

.chat-message-me{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message-content-me{
  font-size: 20px;
  color: #434a54;
  background-color: #DDDDDD;
  border-radius: 20px 20px 0 20px;
  margin-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.chat-message-other{
  display: flex;
}

.chat-message-user{
  font-size: 16px;
  color: #434a54;
  margin-right: 20px;
}

.chat-message-avatar{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-top: -10px;
}

.chat-right-message{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.message-content{
  font-size: 20px;
  color: #434a54;
  background-color: #DDDDDD;
  border-radius: 20px 20px 20px 0;
  margin-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.message-date{
  font-size: 12px;
  color: #999;
}
/* /メッセージメイン画面 */

/* メッセージ送信画面 */
.chat-messages{
  height: 100px;
  padding: 20px 40px;
  display: flex;
  border-top: 2px solid #f5f5f5;
}

.message-img img{
  width: 50px;
  height: 50px;
}

.form-image {
  width: 60px;
  font-size: 16px;
  color: white;
  background-color: #1BB4D3;
  border-radius: 20px;
  margin: 0 10px 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}

.hidden {
  display: none;
}

.chat-messages-input{
  width: 100%;
  background-color: #FFF;
  text-align: center;
}

.form-message{
  width: 90%;
  height: 50px;
  background-color: #DDDDDD;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
}

.form-submit{
  height: 50px;
  font-size: 16px;
  color: white;
  background-color: #1BB4D3;
  border: none;
  border-radius: 20px;
  padding: 0 20px;
}
/* /メッセージ送信画面 */






