.main {
  background-color: #FFF;
}


/* たびマッチ説明部分 */
.top-contents {
  border: 5px solid #FFF;
  box-shadow: 0 0 6px;
  margin-bottom: 30px;
  padding: 5vh 10vw;
}

.top-contents>.title {
  font-size: 3.5vh;
  margin-bottom: 5vh;
  text-align: left;
  font-weight: bold;
}

.top-contents-lists {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.top-contents-lists>.list {
  background-color: #FFF;
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-image{
  width: 380px;
  height: 250px;
  border: 1px solid none;
  border-radius: 15px;
  box-shadow: 10px 0 10px;
}

.top-contents-list-text {
  font-size: 20px;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: 5px 0 5px;
}

.top-contents-list-blue-text {
  color: #3ccace;
}

/* /たびマッチ説明部分 */

/* 投稿全体部分 */
.post-contents {
  background-color: #FFF;
  border: 1px solid #FFF;
  margin-bottom: 200px;
  padding: 0 10vw;
  display: flex;
}
/* /投稿全体部分 */

/* 投稿新着情報部分 */
.post-contents-main{
  margin-right: 70px;
  width: 850px;
}

.posts-contents-title {
  width: 650px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-left: 65px;
  padding-bottom: 10px;
}


.post-lists {
  margin-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.post-lists>.list {
  width: 350px;
  padding: 10px;
}

.posts-lists-link{
  text-decoration: none;
}

.post-image{
  width: 55px;
  height: 55px;
  border: 2px solid #FFF;
  border-radius: 50%;
  margin: -7px 10px 30px 25px;
}

.post-info {
  height: 150px;
  color: #FFF;
  background-color: #1BB4D3;
  border: 1px solid none;
  border-radius: 20px 20px 0 0;
  box-shadow: 10px 0 10px;
  padding: 10px 20px;
}

.post-name {
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 8px;
}

.post-title {
  font-size: 20px;
  display: flex;
  text-align: center;
}

.post-info-user {
  height: 80px;
  background-color: #f5f5f5;
  border: 1px solid none;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
}

.user-info {
  color: black;
  text-align: left;
}

.user-info-name {
  font-size: 20px;
  margin-bottom: 0;
}

.user-info-postdate{
  margin-top: 0;
  padding-bottom: 3px;
}
/* /投稿新着情報部分 */

/* ユーザー表示部分 */
.post-user-info {
  width: 340px;
  height: 430px;
  border: 2px solid #FFF;
  border-radius: 20px;
  box-shadow: 5px 0 10px;
  margin-top: 90px;
  padding: 5px 30px 15px;
}

.post-user-image {
  width: 200px;
  height: 200px;
  border: 2px solid #FFF;
  border-radius: 50%;
  margin-right: 30px;
  margin-left: 36px;
}

.post-user-text {
  font-size: 15px;
  line-height: 1;
  text-align: start;
}

.top-user-btn{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.user-edit-btn {
  width: 50px;
  color: black;
  border: 1px solid lightgray;
  box-shadow: 3px 0 5px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 3px;
  padding-left: 7px;
}

.user-show-btn{
  width: 50px;
  color: black;
  border: 1px solid lightgray;
  box-shadow: 3px 0 5px;
  border-radius: 10px;
  margin-bottom: 3px;
  padding-left: 7px;
}
/* /ユーザー表示部分 */

