.user-edit-page .user-edit-page-body {
  width: 980px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 60px auto;
  padding: 60px;
}
.user-edit-page .user-edit-page-body .user-edit-page-body-left, .user-edit-page .user-edit-page-body .user-edit-page-body-right {
  width: 50%;
  float: left;
}
.user-edit-page .user-edit-page-body:after {
  clear: both;
  content: "";
  display: block;
}
.user-edit-page .user-edit-page-header h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}
.user-edit-page .user-edit-page-header h2:after {
  width: 60px;
  border-bottom: 1px solid #1BB4D3;
  margin-top: 5px;
  content: "";
  display: block;
}
.user-edit-page .user-edit-page-header h5 {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 20px;
}
.user-edit-page .user-edit-page-header .btn {
  font-size: 14px;
  color: black;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 1px 0 3px;
  margin-top: 20px;
}
.user-edit-page .field {
  margin-bottom: 10px;
}
.user-edit-page .field .field-label {
  font-size: 14px;
  font-weight: 200;
  padding: 10px 0;
}
.user-edit-page .field .field-label i {
  font-size: 11px;
}
.user-edit-page .field .field-input input {
  width: 100%;
  letter-spacing: 1px;
  padding: 10px;
}
.user-edit-page .btn {
  height: 50px;
  line-height: 50px;
  letter-spacing: 1px;
  padding: 0 30px;
  display: inline-block;
  text-align: center;
}
.user-edit-page input[type=submit] {
  color: #fff;
  background-color: #1BB4D3;
  border: #1BB4D3;
  border-radius: 10px;
  box-shadow: 5px 0 10px;
  margin-top: 20px;
  float: l;
}
.user-edit-page .field-label .field_with_errors {
  font-weight: 400;
  color: #d65f4c;
  display: inline-block;
}
.user-edit-page .field-input .field_with_errors {
  position: relative;
}
.user-edit-page .field-input .field_with_errors:after {
  width: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #d65f4c;
  content: "";
  display: block;
  position: absolute;
}

.weight-bold-text {
  font-size:20px;
}

.post-image-upload {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 2vh;
}

.user-text {
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px 16px 8px;
  resize: none;
}

.user-introduction {
  margin-top: 2vh;
}