.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  font-size: 14px;
  color: #fff;
  background-color: #ea352d;
  border: 1px solid #ea352d;
  line-height: 48px;
  cursor: pointer;
}

.login-flash-message {
  color: red;
  text-align: center;
}