/* ユーザー詳細画面全体*/
.user-show-main{
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-show-info{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}
/* /ユーザー詳細画面全体*/

/* ユーザープロフィール情報*/
.user-show-profile{
  width: 500px;
  min-height: 800px;
  margin: 40px 60px 100px 0;
}

.show-profile-main{
  margin-right: 50px;
}

.show-profile-header{
  display: flex;
}

.profile-image{
  width: 80px;
  height: 80px;
  border: 2px solid #FFF;
  border-radius: 50%;
}

.profile-main-name{
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  margin-left: 10px;
}

.show-profile-introduction{
  width: 500px;
  border: 2px solid lightgray;
  border-radius: 20px;
  box-shadow: 2px 0 4px;
  margin-top: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}
/* /ユーザープロフィール情報 */

/* ユーザールーム画面 */
.show-rooms-header{
  margin-top: 80px;
}

.user-show-room{
  padding-left: 0;
}

.user-room-list{
  height: 80px;
  border: 1px solid black;
  border-radius: 15px;
  padding-left: 10px;
  display: flex;
}

.user-room-link{
  text-decoration: none;
}

.user-show-room-main{
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.room-user-avatar{
  width: 55px;
  height: 55px;
  border: 2px solid #FFF;
  border-radius: 50%;
  margin-right: 10px;
}

.user-show-room-info{
  margin-left: 7px; 
}

.user-show-roomuser-name{
  font-weight: bold;
  margin-bottom: 0;
}

.user-show-room-name{
  margin-top: 0;
}
/* /ユーザールーム画面 */

/* ユーザー投稿内容 */
.user-show-posts{
  padding-right: 25px;
}

.user-show-posts-header{
  border-bottom: 1px solid black;
  margin-bottom: 0;
  margin-left: 50px;
}

.show-post-lists{
  width: 320px;
  border: 1px solid #FFF;
  border-radius: 20px;
  margin-top: 0;
}

.post-list{
  border: 1px solid #FFF;
  border-radius: 20px;
  box-shadow: 1px 0 1px;
}

.user-post-link{
  text-decoration: none;
}

.user-show-post-info {
  width: 100%;
  height: 150px;
  color: black;
  background-color: #FFF;
  border-radius: 20px;
  padding: 7px;
}

.post-content{
  padding-bottom: 30px;
}

.post-content-main{
  margin-top: 0;
}

.user-room-none{
  margin-left: 10px;
}









